* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.application-name {
  text-align: center;
  margin: 25px;
}

.calculator {
  max-width: 420px;
  min-height: 96vh;
  margin: 0 auto;
}

button {
  font-size: 2rem;
  border: 1px solid #333;
  cursor: pointer;
}
.modifiers button {
  background-color: #ccc;
}
.operations button {
  background-color: orange;
  width: 100px;
}
.digits button {
  background-color: #efefef;
}

.calculator,
.subgrid {
  display: grid;
}
.calculator {
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}
.show-input {
  grid-area: total;
}
.modifiers {
  grid-area: modif;
}
.operations {
  grid-area: oper;
}
.digits {
  grid-area: digit;
}

.show-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.modifiers {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 0 26%;
}

input {
  text-align: center;
  justify-content: center;
}

.Temperature {
  text-align: center;
  justify-content: space-between;
  margin: 150px;
}

.Temperature h2 {
  margin: 25px;
  font-size: 35px;
}

.Temperature p {
  font-size: 20px;
  font-weight: bold;
}

.Temperature button {
  text-align: center;
  font-size: 23px;
  background-color: orange;
  color: white;
  margin: 15px;
}

.Temperature input {
  font-size: 15px;
  padding: 15px;
  border: 3px solid black;
}

.temp-value {
  font-size: 20px;
  font-weight: bold;
}

.main-surface {
  text-align: center;
  justify-content: space-between;
}

.surface-quantity{
  text-align: center;
}

.convert-surface {
  padding: 20px;
  background-color: orange;
}
